<!DOCTYPE html>
<!--
// Licensed under the Apache License. See footer for details.
-->
<html ng-app="app" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vision</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link href="css/dropzone.css" rel="stylesheet">
  <link href="css/vision.css" rel="stylesheet">
</head>

<body>
  <script id="image-results" type="text/x-handlebars-template">
    <div id="{{id}}" class="panel panel-default entry-box">

      <div class="panel-heading">
        {{#if pending}}<span class="fa fa-spinner fa-spin"></span>{{/if}} {{title}} {{#unless pending}}
        <button onclick="$('#{{id}}').remove();" class="btn btn-xs btn-default pull-right">Remove</button>
        {{/unless}}
        <div class="clearfix"></div>
      </div>

      <div class="panel-body {{#if pending}}entry-pending{{/if}}">
        <div class="row">
          <div class="col-md-4">
            <img class="img-responsive entry-thumbnail" src="{{imageUrl}}" />
          </div>

          <div class="col-md-3">
            <div>
              <h5>Alchemy Image Keywords</h5>
              <ul class="entry-taglist">
                {{#each keywords}}
                <li class="entry-tag">
                  <span class="label label-info">{{text}} {{formatPercent score}}%</span>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>

          <div class="col-md-5">
            <div class="entry-faces">
              <h5>Alchemy Face Detection</h5> {{#if faces}}
              <ul class="entry-taglist">
                {{#each faces}}
                <li class="entry-tag">
                  {{#if identity}}
                  <span class="label label-info">{{identity.name}} {{formatPercent identity.score}}%</span>
                  <span>&nbsp;</span> {{/if}}
                  <span class="label label-info">{{gender.gender}} {{age.ageRange}} {{formatPercent age.score}}%</span>
                </li>
                {{/each}}
              </ul>
              {{else}}
              <span>No face detected</span> {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>

  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="videos()">Vision</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <a href="https://bluemix.net/deploy?repository=https://github.com/l2fprod/java-vision" target="_blank"><img src="http://bluemix.net/deploy/button.png" alt="Bluemix button" /></a>
        </form>
      </div>
    </div>
  </nav>

  <div id="analysis-input">
    <p>
      <a href="http://vision.alchemy.ai/">AlchemyVision</a> enables Developers to detect the face position, age range, gender, celebrities, objects, words and similar images found in large volumes of images.
    </p>

    <div class="section-title">Try it!</div>

    <form action="api/analysis/image" class="dropzone" id="uploadZone" enctype="multipart/form-data">
    </form>

    <div class="section-title">or Specify a public image URL</div>
    <div>
      <form data-toggle="validator" class="for" id="analyze-url-form">
        <div class="form-group">
          <input type="text" name="url" class="form-control" id="image-url" placeholder="Paste a url here">
        </div>
        <button type="submit" class="btn btn-default btn-success">Analyze it!</button>
      </form>
    </div>

    <div class="section-title">or Select an image from this selection</div>
    <div>
      <img class="sample-image" src="http://vision.alchemy.ai/img/demo/4109283.jpg" />
      <img class="sample-image" src="http://vision.alchemy.ai/img/demo/9817239.jpg" />
      <img class="sample-image" src="http://vision.alchemy.ai/img/demo/5682349.jpg" />
      <img class="sample-image" src="http://vision.alchemy.ai/img/demo/1754836.jpg" />
    </div>
  </div>

  <div id="results"></div>
  <div class="text-muted" id="no-result-yet">
    Results will appear here
  </div>

  <footer>
    <p class="text-center">made by <a href="https://twitter.com/l2fprod">fred</a> with <a href="http://bluemix.net">IBM Bluemix</a></p>
  </footer>

  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

  <script src="js/dropzone.js"></script>
  <script src="js/vision.js"></script>
</body>

</html>
<!--
//------------------------------------------------------------------------------
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//------------------------------------------------------------------------------
-->
